h1 {
    font-size: 100px;
}
section.hero {
    height: 100vh;
    width: 100vw;
    background-image: url(https://raw.githubusercontent.com/mitchbenes/ADPR458-858/refs/heads/main/edho-pratama-T6fDN60bMWY-unsplash%201.jpg);
}
.heroText {
    padding-top: 30vh;
}
section#picNav {
    display: flex;
}
.fourPanel {
    width: 50%;
    height: 300px;
}